package base

templ Theming() {
    <style>
        .page-wrapper {
            height: 100vh;
        }

        .navbar-nav .nav-link {
            --bs-nav-link-font-size: 1.6rem;
        }

        .form-floating {
        }

    </style>
}