package pages

templ common(nav, mainContent templ.Component) {
    <div class="page-wrapper h-full d-flex flex-column">
    <header>
        @nav
    </header>
    
    <main id="main-content" class="d-flex flex-column flex-grow-1">
        @mainContent
    </main>

    <footer>Idk bro</footer>
    </div>
}