package pages

import "curs1_boilerplate/views/components/footer"

templ Common(navbar, mainContent templ.Component) {
    <div class="page-wrapper h-full d-flex flex-column">
        <header>
            @navbar
        </header>
        
        <main id="main-content" class="d-flex flex-column flex-grow-1">
            @mainContent
        </main>

        @footer.Component()
    </div>
}